---
layout: ""
page_title: "onepasswordorg Provider"
description: |-
  The Onepassword organization provider is used to interact with 1password organization resources (users, groups...)
---


The Onepassword organization provider is used to interact with 1password organization resources (users, groups...)
Normally this provider will be used to automate the user and groups management like user onboard/offboards or
grouping users into teams (groups in 1password).

## Requirements
This provider needs [op](https://1password.com/downloads/command-line/) v2.x Cli, thats why it doesn't use 1password connect
API and needs a real 1password account as the authentication.
## Authentication
Needs a real 1password account so the provider can use the "password" and "secret key" of that account.
A recommended way would be creating an account in the 1password organization/company only for automation
like Terraform (used by this provider).
## Terraform cloud
The provider will detect that its executing in terraform cloud and will use the embedded op CLI for this purpose
so it satisfies the op Cli requirement inside Terraform cloud workers.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}